body{
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
	background-color: white;
	color: #444444;
	}

section{
    padding: 96px 0;
	text-align: center;
    }

h2{
	font-weight: bold;
	font-size: 40px;
	margin: 0px;
	color: black;
	}

h3{
	color: black;
	font-family: 'Open Sans', sans-serif;
	}
	
	p {
		font-style:italic;
	}

/*navigation*/
.navigation{
    position: absolute;
    padding: 12px 0;
	z-index: 5;
	width: 100%;
    }
    
.navigation ul{
    padding: 15px 0 0 0;
    margin: 0;
    list-style-type: none;
	text-align: right;
    }
    
.navigation li{
    display: inline-block;
    margin: 0 15px 0 0;
    position: relative;
    }
    
.navigation a{
    text-decoration: none;
    color: #ffffff;
    }
    
.navigation a:hover{
	color: black;
	}

.brand a{
	color: #fbc501;
	font-size: 30px;
	font-style: italic;
	}

/*header*/
.head{
	background-image: url('https://i.postimg.cc/pXq3wgHW/pexels-the-lazy-artist-gallery-4219123.jpg');
	background-position: center center;
	background-size: cover;
	height: 700px;
	position: relative;
	z-index: 1;
	}

.page {
	position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	text-align: center;
	}
	
.page h2{
	font-size: 40px;
	font-style: italic;
	font-weight: 300;
	color: white;
	}

.page h1{
	color: white;
	font-size: 70px;
	}

.button{
	margin-top: 30px;
	width: 200X;
	padding: 20px;
	font-size: 20px;
	background-color: #fbc501;
	color: white;
	text-transform: uppercase;
	border: 2px solid #fbc401;
	transition: background 1s;
	border-radius: 5px;
    }

.button:hover {
	background-color: #FFA500;
    }

/*services*/
.services .row i {
	font-size: 40px;
    border: 4px solid #fbc531;
	vertical-align: middle;
    width: 80px;
	height: 80px;
	padding-top: 5px;
    line-height: 60px;
    color: #fbc531;
    border-radius: 50%;
	}

section .par{
	margin: 0px 0 60px 0px;
	}
.services i{
	transition: transform 1s;
	}

.services i:hover{
	transform: scale(1.2);
	}
	
	/*our portfolio*/
.our-portfolio {
	background-color: #eeeeee;
}

.skill-img{
	height: 300px;
	
}
.skill-img img{
	padding:10px 10px 0 10px;
	margin: 0px;
    width: 100%;
    height: 100%;
    object-fit: fill; 
}

.skill-title{
	background-color: white;
	padding: 0px;
	margin: 0 10px 60px 10px;
}

.skill-title h3{
	margin: 0px;
	padding-top: 20px;
}

.skill-title p{
	margin: 0px;
	padding-bottom: 20px;
}

/*footer*/
footer{

	text-align: center;
	margin: 48px;
	}

footer i {
	font-size: 15px;
	background-color: black;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 60px;
	padding-top: 14px;
	margin: 10px;
	transition: transform 1s;
	transition: background 1s;
	}

footer i:hover{
	background: #444;
	transform: scale(1.2);

	}

footer ul{
	display: flex;
    justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0px;
	}

footer ul li{
	flex: 0 0 0.333;
	}